
html {
   height:100%;
}
body {
    min-height:100vh;
    margin: 0;
}
header {
    height: 80px;
    width: 100%;
    margin: 0;
    background:rgb(19, 19, 19);
}
/* .container {
    width:960px;
    margin:0 auto;
} */
.login-form {
    background:rgb(204, 204, 204);
    width:300px;
    height:300px;
    margin:100px auto 50px;
    padding:30px;
    border:2px dashed #999;
    border-radius:5px;

}
.b-block {
    display:block;
}
.login-label {
    margin:20px 0;
    padding:20px 0;
}
.login-input {
    /* text-align:center; */
    width:300px;
    height:30px;
    outline:none;
    background:none;
    margin:5px 0;
    border-width:0;
    border-bottom:1px solid #000;
}
.login-button {
    margin:60px auto;
    border:1px solid #000;
    border-radius:5px;
    text-align:center;
    width: 300px;
    height: 30px;
    outline:none;
}
footer {
    height: 50px;
    background:#000;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;   
}