
html {
   height:100%;
}
body {
    min-height:100vh;
}
header {
    height: 80px;
    background:#000;
}
.container {
    width:960px;
    margin:0 auto;
}
form {
    background:#ccc;
    width:300px;
    height:300px;
    margin:50px auto;
    padding:30px;
    
}
.b-block {
    display:block;
}
label {
    margin:10px 0;
    padding:20px 0;
}
input {
    /* text-align:center; */
    width:300px;
    height:30px;
    outline:none;
    background:none;
    margin:5px 0;
    border-width:0;
    border-bottom:1px solid #000;
}
.submit {
    /* margin-left:200px;
    width:100px; */
    border:1px solid #000;
    border-radius:5px;
    text-align:center;
}
footer {
    height: 50px;
    background:#000;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;   
}