
.page_group {
    margin-bottom: 2rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #3a4046;
    border-color: #fff;
}
.page-item .page-link {
    z-index: 1;
    color: #fff;
    background-color: #212529;
    border-color: #fff;
}
.fa-chevron-left {
    padding: 0;
}
.fa-chevron-right {
    padding: 0;
}
.icon {
    color: #fff;
}

